QWidget { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
}
QPushButton { 
    font-size: 25px;
    background-color: rgb(20, 20, 20);
    border-radius: 25px; 
}
QSpinBox {
    font-size: 30px;
}
QLabel#Prompt {
    padding: 15px;
}